.header
{
width:100%;
height:60px;
font-size:36px;
font-family: Arial ;
color:white;
/*background-color:#ee66ee;*/
background-color: #563D7C;
padding-top: 1px;
}

form , .form-signin
{
 width: 400px;
//text-align: center;
 margin-left: 30%;
}
}

.btn-block {
    display: block;
    width: 200px;	
}

#btnsignup
{
margin-top: 30px;
max-width: 200px;
}

.starter-template , .container
{
//text-align:center;
}

.radio-inline
{
 margin-right: 20px; 
 padding-left: 0px;
}


input 
{
margin-bottom: 20px;
margin-top: 20px;
}

title
{
  margin-top:10px;
  padding-top:10px;
}

.menu
{
width:100%;
height:30px;
font-size:20px;
/*color:dark;*/
background-color:#563D7C;

margin-top:0px;
/*text-align:center;*/
}

.amenu
{
float: left;
/*width:100px;*/
text-decoration: none;
font-family: Verdana;
font-size:18px;
    color:#B6BFE3;
background-color:#563D7C;

/*text-align:center;*/
margin-right:20px;
margin-top:0px;

}

#select_country , #select_city , .label-def
{
float: left;
margin-top: 40px;
margin-right: 30px;
width: 250px;
}

.amenu:hover
{
/*background-color:black;*/
color:white;
margin-top:2px;
text-decoration: none;
}

#user_ind
{

    text-decoration: none;
    font-family: Verdana;
    font-size:14px;
    color:lightblue;
    text-align:right;
    margin-left:10px;
    margin-top:2px;
}

body
{
padding-top: 80px;
//text-align:center;

}

.content
{
width:70%;
height:800px;
font-family: Arial ;
left: 15%; /* Отступ в процентах от левого края окна */
//background-color: white;

margin-top:1px;
position: absolute;
text-align:center;



}

#wrap
{
    width:70%;
    height:800px;
    left: 15%; /* Отступ в процентах от левого края окна */
    position: absolute;
    text-align:center;
}

th , caption
{
text-align:center;
}

